<% if @state.trails.empty? %>
  <h3><%=@state.name%> has no registered trails yet :( be the first to add one!</h3>
<% else %>
  <h3>here are all of our trails in <%=@state.name%>:</h3>
  <% @state.trails.each do |trail|%>
    <p><a href="trails/<%=trail.slug%>"><%=trail.name%></a></p>
  <% end %>
<% end %>
<br>
<p><a href="/trails/new">create a new trail for this state</a></p>
