<h3>Create a new trail:</h3>
<form class="create_trail" action="/trails" method="post">
  <label for="name">trail name:</label>
  <input type="text" name="name" id="name" required>
  <label for="length">length of trail in miles:</label>
  <input type="text" name="length" id="length">
  <label for="difficulty">difficulty (scale from 0-10):</label>
  <input type="text" name="difficulty" id="difficulty">
  <label for="start_alt">starting altitude in feet:</label>
  <input type="text" name="start_alt" id="start_alt">
  <label for="end_alt">ending altitude in feet:</label>
  <input type="text" name="end_alt" id="end_alt">
  <% if logged_in? %>
    <input type="checkbox" name="user_id" value="<%=current_user.id%>" checked>I have hiked this trail
  <% end %>
  <input type="submit" value="create trail">
</form>
