<h1>welcome to the Trail Tracker!</h1>
<h3>you are seeing this message because you do not have an account</h3>
<h3>create an account to list trails you have hiked, or add hikes other people have created!</h3>
<p><a href="/login">log into</a> your account, or, <a href="/signup">create an account</a></p>
