<h1>welcome to the place! with the thing!</h1>
<h3>you are seeing this message because you do not have an account</h3>
<h3>create an account to list trails you have hiked!</h3>
<h3>or feel free to find trails by name or their state.</h3>
<p><a href="/login">log in</a>to your account, or, <a href="/signup">create an account</a></p>
