<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trail Tracker</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a href="/trails">All Trails</a>
        <a href="/states">All States</a>
        <% if logged_in?%>
          <a href="/users/<%=current_user.slug%>">your profile</a>
          <p><a href="/logout">logout</a></p>
        <% else %>
          <a href="/login">log in</a>
          <a href="/signup">sign up</a>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
