<h3>Log in:</h3>
<form class="create_user" action="/login" method="post">
  <label for="username">username:</label>
  <input type="text" name="username" id="username" required>
  <label for="password">password:</label>
  <input type="text" name="password" id="password" required>
  <input type="submit" value="log in">
</form>
<br>
<p>or, if you don't have an account, <a href="/signup">sign up</a>!</p>
