<h3>Create a new hiker account:</h3>
<form class="create_user" action="/signup" method="post">
  <label for="username">username:</label>
  <input type="text" name="username" id="username" required>
  <label for="email">email:</label>
  <input type="email" name="email" id="username" required>
  <label for="password">password:</label>
  <input type="text" name="password" id="password" required>
  <br>
  <label for="bio">would you like to post a short bio? 250 characters or less:</label>
  <textarea name="bio" id="bio" rows="5" cols="50" maxlength="250"></textarea>
  <input type="submit" value="create account">
</form>
<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>
