<h3>Create a new hiker account:</h3>
<form class="create_user" action="/signup" method="post">
  <label for="username">username:</label>
  <input type="text" name="username" id="username" required>
  <label for="email">email:</label>
  <input type="email" name="email" id="username" required>
  <label for="password">password:</label>
  <input type="text" name="password" id="password" required>
  <label for="bio">would you like to post a short bio? 255 characters or less:</label>
  <input type="text" name="bio" id="bio" maxlength="255">
  <input type="submit" value="create account">
</form>
